html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
  }
#contenedor{
    height: 100%;
    width: 100%;
    background-color: #f3f3ff;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #b71bb5, #f3f3ff), repeating-radial-gradient(circle at center center, #b71bb5, #b71bb5, 32px, transparent 64px, transparent 32px);
    background-blend-mode: multiply;    
    display: flex;
    justify-content: center;
    
}
 #fondo_1{
    height: 100%;
    width: 45%;
    background: rgb(0, 255, 8);
 } 